@import "tailwindcss";

@theme {
  --transparent: transparent;
  --color-black-900: #000000;
  --color-black-500: "#4F5665";
  --color-black-600: "#0B132A";
  --color-green-main: #00a059;
  --color-green-500: #2FAB73;
  --color-white-500: #fff;


  
}